# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Django
db.sqlite3
/staticfiles/
media/

# Server logs
server.log
server.err
server_out.log
server_err.log

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db
